@model TechPort.Models.Equipamento

<h2>Detalhes do Equipamento</h2>
<div>
    <h4>@Model.Nome</h4>
    <p>Tipo: @Model.Tipo</p>
    <p>ID: @Model.Id</p>
</div>
<p>
    <a asp-action="Index">Voltar para lista</a>
</p>