@model TechPort.Models.Viagem

@{
    ViewData["Title"] = "Create";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js"></script>

<h1>Criar</h1>

<h4>Viagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input id="viagem" asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NavioId" class="control-label"></label>
                <select asp-for="NavioId" class="form-control" asp-items="ViewBag.NavioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoViagem" class="control-label"></label>
                <select asp-for="TipoViagem" class="form-control" asp-items="Html.GetEnumSelectList<TechPort.Models.Enums.TipoViagem>()"></select>
                <span asp-validation-for="TipoViagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

<script>
    jQuery(function ($) {
         $('#viagem').mask('SS999999', {
            'translation': {
                S: {pattern: /[A-Za-z]/},
                0: {pattern: /[0-9]/}
            }
            ,onKeyPress: function (value, event) {
                event.currentTarget.value = value.toUpperCase();
            }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}