@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Bem Vindo à <strong><titulo>TechPort</titulo></strong></h3>
    <h5><titulo>Seu Gerenciador de Containers</titulo></h5>
</div>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.theagilityeffect.com/app/uploads/2019/06/00_VINCI-ICONOGRAPHIE_GettyImages-168257488-1280x680-e1560430003705.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i2.wp.com/www.generaltradeways.com.br/wp-content/uploads/2018/05/190045-conheca-5-modelos-de-containers-e-suas-caracteristicas.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cronoslogistics.com.br/wp-content/uploads/2022/09/navios_porta_conteineres_blog_cronos_logistics-1.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
